body{
padding: 25px;
margin: 0;
background-color: lightblue;
}

.background{
    border-width: 2px;
    border-style: solid;
    border-color: rgb(144, 190, 243);
    background-color: white;
}

img{
    position: absolute;
}
.header{
    padding-left: 230px;
    padding-right: 20px;
}

